<a href="https://colab.research.google.com/github/thesteuber/assign03-50-steuber/blob/3-split-hr-data-into-train-and-test/churn_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Machine Learning - Assignment 3 "Employee Churn"

##Purpose
Gain experience applying scikit learn to machine learning problems.

##Import Python Libraries
Run the following python to initiliaze all the needed libraries for the notebook.

In [1]:
#tables and visualizations
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

#machine learning
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline 
from sklearn.compose import ColumnTransformer, make_column_selector
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, LabelBinarizer, StandardScaler
from sklearn import config_context
from sklearn.metrics import classification_report, confusion_matrix, ConfusionMatrixDisplay

##Tasks

###1. Create a new notebook 


---


Create a new notebook named "churn-prediction", and properly document the notebook with descriptions of the tasks.

Task completed as seen in this notebook.

###2. Read in HR Data


---


Using the scikit-demo-solutions notebook as a guide, read in the HR data.

In [2]:
attrition_data = pd.read_excel('https://raw.githubusercontent.com/vanderbilt-ml/assign03/main/IBM-HR-Data-Employee-Attrition.xlsx')
display(attrition_data.head())
attrition_data.info()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

###3. Split the Data


---


Split the data for train and test.

In [3]:
random_seed = 1709

train, test = train_test_split(attrition_data, test_size=0.25, random_state=random_seed)

Add a quick sanity check:

In [4]:
print('On train: ')
print('Train dimensions: ', train.shape)
display(train.head())

On train:
Train dimensions:  (1102, 35)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
191,27,No,Travel_Rarely,894,Research & Development,9,3,Medical,1,260,...,4,80,0,7,2,2,7,7,0,3
1198,33,No,Non-Travel,530,Sales,16,3,Life Sciences,1,1681,...,3,80,1,7,2,3,6,5,1,2
747,38,No,Travel_Rarely,1035,Sales,3,4,Life Sciences,1,1036,...,3,80,0,19,1,3,1,0,0,0
339,27,No,Travel_Rarely,1130,Sales,8,4,Marketing,1,458,...,1,80,1,8,3,3,8,7,0,7
668,28,No,Travel_Rarely,995,Research & Development,9,3,Medical,1,930,...,2,80,1,6,2,3,2,2,2,2

###4. Build Pipeline


---


Build an appropriate training pipeline.

###5. Cross Validation


---


Carry out cross-validation